ion-card {
  margin: auto;
  max-width: 400px;
}

ion-card-title {
  text-align: center;
  margin-top: 10px;
  font-size: 2vmax;
}

.container {
  margin-top: 10px;
  border-radius: 5px;
  display: grid;
  place-items: start;
  padding: 0.5rem;
}

.container p {
  font-weight: 600;
  margin: 5px 0;
}

@media only screen and (max-width: 600px) {
  ion-card-title {
    font-size: 3vmax;
  }
}
