<ion-header>
  <ion-toolbar>
    <ion-title slot="start">Locations</ion-title>
    
    <ion-buttons slot="end" class="back-btn">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>

    <ion-buttons slot="end" class="menu-btn">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ul>
        <li routerLink="/home">Home</li>
        <li routerLink="/characters">Characters</li>
        <li routerLink="/locations">Locations</li>
      </ul>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <ion-searchbar placeholder='Try "Earth (C-137)"' [(ngModel)]="searchTerm">
  </ion-searchbar>

  <ion-list *ngFor="let locations of locations | filter:searchTerm">
    <ion-item id="item" [routerLink]="['/locations-info/' + locations.id]">
      <ion-label>{{ locations.name }}</ion-label>
      <ion-icon name="arrow-forward-outline"></ion-icon>
    </ion-item>
  </ion-list>

  <ion-infinite-scroll
    (ionInfinite)="loadMore($event)"
    loadingSpinner="bubbles"
  >
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
