<ion-app>
  <ion-menu menuId="main-menu" content-id="main">
    <ion-header>
      <ion-toolbar>
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-list>
        <ion-item routerLink="/home">
          <ion-icon name="home" slot="start"></ion-icon>
          <ion-label>Home</ion-label>
        </ion-item>
        <ion-item routerLink="/characters">
          <ion-icon name="accessibility" slot="start"></ion-icon>
          <ion-label>Characters</ion-label>
        </ion-item>
        <ion-item routerLink="/locations">
          <ion-icon name="location" slot="start"></ion-icon>
          <ion-label>Locations</ion-label>
        </ion-item>

        <ion-item-divider color="light">
          <ion-label> Contact Me </ion-label>
        </ion-item-divider>

        <ion-item (click)="goTogitHub()">
          <ion-icon name="logo-github" slot="start"></ion-icon>
          <ion-label>GitHub</ion-label>
          <ion-icon name="link-outline" slot="end"></ion-icon>
        </ion-item>
        <ion-item (click)="goToLinkedIn()">
          <ion-icon name="logo-linkedin" slot="start"></ion-icon>
          <ion-label>LinkedIn</ion-label>
          <ion-icon name="link-outline" slot="end"></ion-icon>
        </ion-item>
        <ion-item (click)="goToFreelancer()">
          <ion-icon name="code-working-outline" slot="start"></ion-icon>
          <ion-label>Freelancer</ion-label>
          <ion-icon name="link-outline" slot="end"></ion-icon>
        </ion-item>
        <ion-item (click)="goToWhatsapp()">
          <ion-icon name="logo-whatsapp" slot="start"></ion-icon>
          <ion-label>Whatsapp</ion-label>
          <ion-icon name="link" slot="end"></ion-icon>
        </ion-item>

        <ion-item-divider color="light">
          <ion-label> User Options </ion-label>
        </ion-item-divider>

        <ion-item>
          <ion-icon name="settings" slot="start"></ion-icon>
          <ion-label>Settings</ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
