<ion-header>
  <ion-toolbar *ngIf="location">
    <ion-title slot="start">{{ location.name }}</ion-title>

    <ion-buttons slot="end" class="back-btn">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>

    <ion-buttons slot="end" class="menu-btn">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ul>
        <li routerLink="/home">Home</li>
        <li routerLink="/characters">Characters</li>
        <li routerLink="/locations">Locations</li>
      </ul>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card *ngIf="location">
    <ion-card-content>
      <ion-card-title class="name-title">{{ location.name }}</ion-card-title>
      <div class="container">
        <p>Dimension: {{ location.dimension }}</p>
        <p>Created: {{ location.created }}</p>
        <p>Type: {{ location.type }}</p>
        <p>Residents: {{ location.residents.length }}</p>
      </div>
    </ion-card-content>
  </ion-card>

</ion-content>
