<ion-header>
  <ion-toolbar>
    <ion-title slot="start"> Rick and Morty Wiki </ion-title>
    <div class="centered-elements-div" slot="start">
      <img width="40" src="../../assets/icon/favicon.png" alt="" />
      <h1>Rick and Morty Wiki</h1>
    </div>

    <ion-buttons slot="end">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
    
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-searchbar placeholder='Try "Rick Sanchez"' [(ngModel)]="searchTerm">
  </ion-searchbar>

  <ion-list *ngFor="let chars of chars | filter:searchTerm">
    <ion-item id="item" [routerLink]="['/chars-info/' + chars.id]">
      <ion-thumbnail slot="start">
        <ion-img src="{{ chars.image }}"></ion-img>
      </ion-thumbnail>
      <ion-label>{{ chars.name }}</ion-label>
      <ion-icon name="arrow-forward-outline"></ion-icon>
    </ion-item>
  </ion-list>

  <ion-infinite-scroll
    (ionInfinite)="loadMore($event)"
    loadingSpinner="bubbles"
  >
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
