@import "~@ionic/angular/css/core.css";
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@import url("https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300&display=swap");

* {
  font-family: "Comic Neue", cursive;
}

ion-content {
  --background: url("assets/images/bg.webp");
}

ion-searchbar {
  width: 100%;
  max-width: 715px;
  margin: auto;
}

ion-list {
  width: 97%;
  max-width: 700px;
  margin: 0 auto;
}

ion-list:first-of-type {
  border-radius: 2px 2px 0px 0px;
}

ion-img {
  border-radius: 2px;
}

ion-card {
  width: 97%;
  max-width: 700px;
  margin: auto;
  margin-top: 1rem;
}

ul {
  display: flex;
  gap: 2rem;
}

li {
  list-style: none;
  margin-right: 1rem;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 900;
}

li:hover {
  color: #afafaf;
}

.menu-btn, .back-btn {
  display: none;
}

@media only screen and (max-width: 600px) {
  .menu-btn, .back-btn {
    display: block;
  }
  
  ul {
    display: none;
  }

}
